$ci-brand:       #F17273;
$ci-black:       #36404C;
$ci-gray:        #f0f4f6;
$ci-text-reader: #777;


$color-link: $ci-brand;
$color-box:  $ci-gray;

// Font and Typo
$body-font: 'Open Sans', Helvetica Neue,Helvetica,Arial,sans-serif;

$font-size-title:         64px;
$font-size-sub-title:     48px;
$font-size-title-section: 38px;
$font-size-text-reader:   18px;

$color-border: #D8D8D8;

$gutter: 15px;
$gutter-grid: 20px;
$gutter-section: 110px;
$gutter-full-section: 174px;


$container-width: 1280px;
